@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade{
  -webkit-animation: fade-in-down 0.5s;
  animation: fade-in-down 0.5s;
}
