---
layout: default
---

   <div class="fade">
     <div>
  <span style="color:#78909C;font-size:18px">欢迎您，</span>
        
  <span style="color:#159957;font-size:25px">{{ site.author }}&nbsp;!</span>
  <h2>Hydrogen版本:<span style="color:#78909C;font-size:20px">&nbsp;1.1.0</span></h2>
  <br><a href="/update/update.html">查看更新</a>
  <h2>主域名:<blockquote><span style="color:#78909C;font-size:20px">{{ site.url }}</span></blockquote></h2>
  <h2>博主:<blockquote><span style="color:#78909C;font-size:20px">{{ site.author }}</span></blockquote></h2>
  <h2>网站关键词:<blockquote><span style="color:#78909C;font-size:20px">{{ site.keywords | escape }}</span></blockquote></h2>
  <h2>网站描述:<blockquote><span style="color:#78909C;font-size:20px">{{ site.description }}</span></blockquote></h2>
  <h2>主题色:<blockquote><span style="color:#{{ site.theme_color }};font-size:50px">■</span></blockquote></h2>
  <h2>MathJax:<blockquote><span style="color:#78909C;font-size:20px">{% if site.MathJax == "true" %}开启{% else %}未开启{% endif %}</span></blockquote></h2>
  <br><span style="font-size:14px" id="cut"></span>
  <br><span style="font-size:14px" id="latest"></span>
    </div>
   </div>
