---
layout: default
---

   <div class="fade">
     <div>
  <span style="color:#78909C;font-size:18px">欢迎您，</span>
        
  <!--<blockquote>-->
  <span style="color:#159957;font-size:25px">{{ site.author }}&nbsp;!</span>
  <!--</blockquote>-->
  <br><span style="color:#78909C;font-size:20px">{% for post in site.posts %}{{site.total_posts}}{% endfor %}有篇文章A</blockquote>
  <span id="new" style="color:#159957;font-size:25px"></span>
  <blockquote>
  <br><span style="font-size:14px" id="cut"></span>
  <br><span style="font-size:14px" id="latest"></span>
  <script src="https://atlinker.cn/update/update.js"></script>
    </div>
   </div>
</body>
