---
layout: default
---

   <div class="fade">
     <div>
  <span style="color:#78909C;font-size:18px">欢迎您，</span>
        
        {% for post in site.posts %}
    {% assign year = post.date | date: '%Y' %}
    {% assign nyear = post.next.date | date: '%Y' %}
    {% if year != nyear %}
## {{ post.date | date: '%Y' }}
{:.archive-title}
    {% endif %}
* {{ post.date | date: '%m-%d' }} &raquo; [{{ post.title }}]({{ post.url }} "{{ post.title }}"){:.archive-item-link}
{% endfor %}
        
  <!--<blockquote>-->
  <span style="color:#159957;font-size:25px">&nbsp;!</span>
  <!--</blockquote>-->
  <br><span style="color:#78909C;font-size:20px">{% for post in site.posts %}{{ paginator.total_posts }}{% endfor %}有篇文章A</blockquote>
  <span id="new" style="color:#159957;font-size:25px"></span>
  <blockquote>
  <br><span style="font-size:14px" id="cut"></span>
  <br><span style="font-size:14px" id="latest"></span>
  <script src="https://atlinker.cn/update/update.js"></script>
    </div>
   </div>
</body>
