---
layout: default
---
	
	  {{ content }}
	
	  <!--<h2>#</h2>
	  <span></span>-->

  <div>&nbsp;</div>

  <ul class="post-list">
    
{% if paginator.page == 1 %}
  {% for post in site.posts %}
      {% if post.stickie != true %}
        {% continue %}
      {% endif %}
    <li>

        {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> <span style="font-size:15px;background:#F48FB1;color:#fff;padding:4px 15px;border-radius:6px;-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);">置顶</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>

      </li>
  {% endfor %}
{% endif %}
    
  {% for post in paginator.posts %}
    {% if post.stickie == true %}
      {% continue %}
    {% endif %}
    
      <li>

        {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>{{ post.excerpt | markdownify | truncatewords: 30 }}</span>

      </li>

    {% endfor %}

  </ul>

</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a  class="cm-l" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="/theme/left.svg" style="height:28px"></a>
  {% else %}
    <span class="cm-l"><img src="/theme/leftdis.svg" style="height:28px"></span>
  {% endif %}

  {% if paginator.next_page %}
    <a class="cm-r" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img src="/theme/right.svg" style="height:28px"></a>
  {% else %}
    <span class="cm-r"><img src="/theme/rightdis.svg" style="height:28px"></span>
  {% endif %}
</div>

<div class="cm-c">{{paginator.page}}/{{paginator.total_pages}}</div>

{% endif %}
